.content-primary
  .horizontal-line
  %ul.nav.nav-pills
    %li
      %a{href: "/"} Home
    %li
      %a{href: "/cv"} CV
    %li
      %a{href: "/contact"} Contact
    %li
      %a{href: "http://www.linkedin.com/in/thupham", target: "_blank"}
        %i.fa.fa-linkedin
    %li
      %a{href: "https://bitbucket.org/thuutrangpham", target: "_blank"}
        %i.fa.fa-bitbucket
    %li
      %a{href: "https://github.com/TrangPham", target: "_blank"}
        %i.fa.fa-github-alt
    %li
      %a{href: "mailto:thuutrangpham@gmail.com", target: "_blank"}
        %i.fa.fa-envelope