= haml :"ui/_top"
.content-primary
  %p > Reach out to me.
  .panel
    %i.fa.fa-envelope 
    %p Email me.
    %a{href: "mailto:thuutrangpham@gmail.com", target: "_blank"}thuutrangpham@gmail.com


= haml :"ui/_bottom"
