= haml :"ui/_top"
.content-primary
  %p > (def CV "Curriculum Vitae")
  .panel
    %h3 Technical Skills
    %ul.no-marker
      %li 
        %i.fa.fa-star
        %i.fa.fa-star
        %i.fa.fa-star
        %i.fa.fa-star
        %i.fa.fa-star-half-o
        Ruby, git, OO

      %li 
        %i.fa.fa-star
        %i.fa.fa-star
        %i.fa.fa-star
        %i.fa.fa-star
        %i.fa.fa-star-o
        Java, Rails, SQL, html5, CSS

      %li
        %i.fa.fa-star
        %i.fa.fa-star
        %i.fa.fa-star
        %i.fa.fa-star-half-o
        %i.fa.fa-star-o
        C++, RESTful API, ActionScript 2.0
      %li
        %i.fa.fa-star
        %i.fa.fa-star
        %i.fa.fa-star-half-o
        %i.fa.fa-star-o
        %i.fa.fa-star-o
        Clojure, ASM (x86)

    %h3 Analytical Skills
    %ul.no-marker
      %li 
        %i.fa.fa-star
        %i.fa.fa-star
        %i.fa.fa-star
        %i.fa.fa-star
        %i.fa.fa-star-half-o
        Data Representation, Fingerprinting, Data mining

      %li 
        %i.fa.fa-star
        %i.fa.fa-star
        %i.fa.fa-star
        %i.fa.fa-star
        %i.fa.fa-star-o
        Mathematics, Statistics, Data Structures

      %li
        %i.fa.fa-star
        %i.fa.fa-star
        %i.fa.fa-star
        %i.fa.fa-star-half-o
        %i.fa.fa-star-o
        Algorithms

    %h3 Work History

    %ul.no-marker
      %li     
        %img{src:"http://m.c.lnkd.licdn.com/media/p/2/005/015/03f/17e8637.png"}
      %li 
        %b Software Developer | Jan 2013 - Present
      %li
        %a{href: "http://cenx.com", target: "_blank"} www.cenx.com
      %li Worked on data mining and fingerprinting using Ruby and Clojure
      %li Created developer tool to configure and debug locally and on remote servers

    %ul.no-marker
      %li     
        %img{src:"http://m.c.lnkd.licdn.com/media/p/4/000/15d/07c/0741945.png"}
      %li 
        %b Junoir Software Developer | Apr 2013 - Sept 2013
      %li
        %a{href: "http://appzero.com", target: "_blank"} www.appzero.com
      %li Worked on fingerprinting applications on Windows machines using C++, C# and XML


    %h3 Education

    %ul.no-marker
      %li     
        %img{src:"http://www3.carleton.ca/carletonsound/logo.gif"}
      %li 
        %b B.Eng, Software Engineering | Sept 2010 - Present
      %li
        %a{href: "http://carleton.ca/", target: "_blank"} www.carleton.ca
      %li GPA: 11.36/12
      %li Expected Graduation: Apr 2015

    .well
      See more details on 
      %i.fa.fa-linkedin-square
        %a{href: "http://www.linkedin.com/in/thupham", target: "_blank"}Linkedin
    


= haml :"ui/_bottom"
