!!! 5
%html
  = haml :"ui/_head"
  %body
    %h1 Thu Trang Pham
    .content-primary
      .technical
      .meek
      .cheerful
        %ul
          %li Smiles are my beauty
          %li Cuteness is my charm
          %li Cheerful is my nature
