= haml :"ui/_top"
.content-primary
  %p > Describe yourself in three words.
  .descriptions
    .technical.panel
      %h3.panel-heading Technical
      %p A result-driven software engineer who believes in:
      %ul
        %li test-driven design, 
        %li taking the initiative, 
        %li fully understanding the why, 
        %li and self-automation
    .meek.panel
      %h3.panel-heading Meek
      %p To be Meek is ... to be willing to learn, to be humble and patient, to keep faith under pressure, to seek improvement everyday.
    .cheerful.panel
      %a{href: "http://reang.deviantart.com/"}
        .pixel-dinosaur 
      %h3.panel-heading Cheerful
      .center Smiles are my beauty
      .center Cuteness is my charm
      .center Cheerful is my nature
= haml :"ui/_bottom"
