* 
  font-family: "Source Code Pro"
.center
  text-align: center
  margin: auto
.content-primary
  width: 70%
  margin: auto
.technical, .meek, .cheerful
  padding: 10px
  margin: 10px 
  border: 1px solid
  display: block
  float: left
  width: 30%
  min-height: 300px
.descriptions 
  min-height: 350px

.pixel-dinosaur
  background: url('../img/Pixel_Dinosaur_by_reang.gif') no-repeat
  width: 40px
  height: 40px
.horizontal-line
  border-top: 1px solid #eee
  height: 10px
